@model IEnumerable<SmartSite.Models.News>
@{
    ViewBag.Title = "GetAllNews";
}

    <div class="container">
        @Html.ActionLink("Create News", "CreateNews", "News", new { @class = "btn btn-info" })
        <hr />
        <div class="row">
            @{
                foreach (var news in Model)
                {
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/imageUploads/NewsImg/@news.Image" alt="productImage">
                        <div class="card-body">
                            <h5 class="card-title"><u>Title</u> : @news.Title</h5> <span class="card-text">@news.Date .</span>
                            <p><u>Details</u> : @news.Details</p>
                            @Html.ActionLink("More Details", "NewsDetails", new { id = news.ID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Edit", "EditNews", new { id = news.ID }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Delete", "DeleteNews", new { id = news.ID }, new { @class = "btn btn-danger" })
                        </div>
                    </div>
                }
            }
        </div>
    </div>