@model IEnumerable<SmartSite.Models.ProductType>
@{
    ViewBag.Title = "AllProductTypes";
}

<h2><u>Product Types</u></h2>

<div class="container">
    @Html.ActionLink("Create new Product Type", "CreateProductType", new { @class = "btn btn-light" })
    <hr />
    <table>
        <thead>
            <tr>
                <th>Type Name</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var type in Model)
                {
                    <tr>
                        <td>@type.Type</td>
                        <td>
                            @Html.ActionLink("Details", "ProductTypeDetails", new { id = type.ID }, new { @class = "btn btn-info" })
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditProductType", new { id = type.ID }, new { @class = "btn btn-warning" })
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "DeleteProductType", new { id = type.ID }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>