@model IEnumerable<SmartSite.Models.ProductType>
@{
    ViewBag.Title = "AllProductTypes";
}

<h2><u>Product Types</u></h2>

<div class="container">
    @Html.ActionLink("Create new Product Type", "CreateProductType", new { @class = "btn btn-light" })
    <hr />

    @using (Html.BeginForm("FilterProductTypeByCategory", "ProductType", FormMethod.Get))
    {
        @Html.Label("cat", "Search product types by category")
        @Html.DropDownList("id", ViewData["Category"] as IEnumerable<SelectListItem>, new { id = "cat", @class = "browser-default custom-select" })
        <input type="submit" value="Search" />
    }
    <hr />
    <table>
        <thead>
            <tr>
                <th>Type Name</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @{
                foreach (var type in Model)
                {
                    <tr>
                        <td>@type.Type</td>
                        <td><img  src="@type.Image"/></td>
                        <td>
                            @Html.ActionLink("Details", "ProductTypeDetails", new { id = type.ID }, new { @class = "btn btn-info" })
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                @Html.ActionLink("Edit", "EditProductType", new { id = type.ID }, new { @class = "btn btn-warning" })
                            </td>
                            <td>
                                @Html.ActionLink("Delete", "DeleteProductType", new { id = type.ID }, new { @class = "btn btn-danger" })
                            </td>
                        }

                    </tr>
                }
            }
        </tbody>
    </table>
</div>