@model SmartSite.Models.ProductType
@{
    ViewBag.Title = "EditProductType";
}

    <div class="container">
        <h2><u>Edit Product Type [@Model.Type]</u></h2>
        <hr />
        @using (Html.BeginForm("EditProductType", "ProductType", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.ID)
            <div class="form-group">
                @Html.LabelFor(m => m.Type)
                @Html.TextBoxFor(m => m.Type, new { @class = "form-control", placeholder = "Type Name" })
                @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CategoryID)
                @Html.DropDownListFor(s => s.CategoryID, ViewData["Category"] as IEnumerable<SelectListItem>, new { @class = "browser-default custom-select" })
                @Html.ValidationMessageFor(m => m.CategoryID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="UploadImg" />
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        }
    </div>